@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --font-s: 12px;
  --font-m: 13px;
  --font-l: 14px;

  --line-h-n: 130%;
  --line-h-m: 140%;

  --grey-300: #1c181d;
  --grey-200: #322f33;
  --grey-100: #616161;
  --grey-50: #656266;

  --font-dark: #303030;
  --font-mid: #616161;
  --font-light: #e3e3e3;

  --stroke-200: #616161;
  --stroke-100: #e1e1e1;
  --stroke-50: #dbdbdb;

  --bg-color: #f1f1f1;

  --focused: #005bd3;
  --pressed: #f0f0f0;
  --hover: #f1f1f1;

  --focused-dark: #404040;
  --hover-dark: #2A2A2A;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Inter";
  background: var(--bg-color);
  font-size: var(--font-m);
  font-weight: 400;
  transition: all 0.3s ease;
}

body *:focus{
  outline: 2px solid var(--focused);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background: var(--grey-300);
  padding: 12px 16px;
  height: 56px;
}

nav .logo .logo-mobile {
  display: none;
}

nav .search {
  position: relative;
  max-width: 480px;
  width: 100%;
}

nav .search input {
  width: 100%;
  padding: 8px 8px 8px 34px;
  font-size: var(--font-m);
  line-height: var(--line-h-m);
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid var(--stroke-200);
  background: var(--grey-200);
  color: var(--font-light);
  font-weight: 500;
}

nav .search input:hover{
  outline: 1px solid #fff;
}
nav .search input:focus{
  outline: 2px solid #fff;
}

.search input::placeholder {
  font-size: var(--font-m);
  color: var(--font-light);
}

.search .search-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.search-icon svg {
  width: 20px;
  height: 20px;
}

nav .nav-items {
  display: flex;
  align-items: stretch;
  gap: 8px;
}

nav .notify-icon {
  padding: 8px;
  background: var(--grey-200);
}

nav .notify-icon,
nav .profile-icon {
  border-radius: 8px;
  color: var(--font-light);
  background: var(--grey-200);
}

.notify-icon svg {
  width: 20px;
  height: 20px;
}

.profile-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-s);
}

.profile-icon span {
  padding: 8px;
}

.profile-icon span:nth-child(2) {
  background: #36fba1;
  border-radius: 8px;
  /* height: 100%; */
  display: grid;
  place-items: center;
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
  nav .logo .logo-mobile {
    display: block;
  }

  nav .logo .logo-desktop {
    display: none;
  }
  nav .notify-icon,
  nav .profile-icon {
    background: transparent;
  }
  .profile-icon span:first-child {
    display: none;
  }
}

/* ========== main ================== */

main {
  margin-block: 2rem;
  margin-inline: auto;
  max-width: 800px;
  width: 100%;
}

.trial-msg {
  background: var(--grey-300);
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--font-light);
  font-size: var(--font-l);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trial-msg p {
  margin-right: 10px;
  line-height: var(--line-h-m);
}

.trial-msg.close {
  display: none;
}

.trial-msg button {
  padding: 6px 12px;
  font-weight: 600;
  border-radius: 8px;
  background: #fff;
  border: (1px solid rgba(0, 0, 0, 0.1));
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}

.trial-msg > span {
  display: flex;
  gap: 8px;
  align-items: center;
}

button.close-icon {
  border: none;
  background: none;
  box-shadow: none;
}

.trial-msg span .close-icon {
  padding: 6px;
}

section.setup {
  margin-block: 1rem;
  background: #fff;
  color: var(--font-dark);
  padding: 8px;
  border-radius: 8px;
  position: relative;
  min-height: 105px;
  height: max-content;
  transition: 0.9s ease;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.setup-guide {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.setup-guide > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.setup-guide .intro .heading {
  color: var(--font-dark);
  font-weight: 600;
  font-size: var(--font-l);
  line-height: var(--line-h-m);
}

.setup-guide .intro p {
  font-size: var(--font-m);
  font-weight: 400;
  line-height: var(--line-h-m);
  margin-right: 16px;
}

.setup-guide div.progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: var(--font-s);
  font-weight: var(--font-m);
}

.progress .bar {
  width: 72px;
  height: 4px;
  background: var(--font-light);
  border-radius: 8px;
  position: relative;
  user-select: none;
}

.progress .bar::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 4px;
  border-radius: 8px 0 0 8px;
  background: #000;
}

.setup .intro {
  cursor: pointer;
}

.setup > .icon {
  position: absolute;
  top: 16px;
  right: 8px;
  border: none;
  background: none;
}

.setup > .icon:hover {
  background: var(--hover);
  border-radius: 6px;
}

.setup > .icon .default,
.setup > .icon .open {
  padding: 4px;
  display: none;
  color: var(--font-dark);
  cursor: pointer;
}

.setup > .icon .active {
  display: block;
}

.default svg {
  width: 20px;
  height: 20px;
}

.setup-guide .content {
  display: none;
}

.setup-guide .content.active {
  display: flex;
}

.content li {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  padding: 12px 8px;
  gap: 8px;
  width: 100%;
  transition: all 0.3s ease;
}

.content li > * {
  align-self: stretch;
}

.content li .list-content {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  width: 100%;
}

.content .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  max-width: 484px;
}

.content .title > p {
  font-size: var(--font-m);
  line-height: var(--line-h-m);
  font-weight: 500;
  cursor: pointer;
  user-select: contain;
}

.content .text-content,
.content .btn,
.content .image-content {
  display: none;
  transition: all 0.3s ease;
}
.content .text-content{
  color: var(--font-mid);
}
.content li.active {
  background: var(--bg-color);
  border-radius: 8px;
}

.content li.active .list-content {
  align-items: flex-start;
}
.content li.active .text-content,
.content li.active .image-content {
  display: block;
}
.content li.active .btn{
  display: flex;
  gap: 16px;
}

.content li.active .image-content {
  width: 156px;
}
.content li.active .title > p {
  font-weight: 600;
}

.text-content a.link {
  color: var(--focused);
  font-weight: 500;
  font-size: var(--font-l);
  line-height: var(--line-h-m);
}

.content .btn button {
  color: var(--font-light);
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 600;
  border-top: 1.5px solid var(--stroke-200);
  border-right: 1.5px solid var(--stroke-200);
  border-left: 1.5px solid var(--stroke-200);
  background: #404040;
}
.content .btn button:first-child{
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;

}

.content .btn button:nth-child(2){
  background-color: transparent;
  border: transparent;
  color: var(--font-dark);

}

.content .btn button:first-child:focus{
  background: var(--focused-dark);
  outline: 2px solid var(--focused);
}





@media screen and (max-width: 768px) {
  .trial-msg {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0;
    gap: 16px;
    position: relative;
  }

  .trial-msg .close-icon {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .content .image-content,
  .content li.active .image-content {
    display: none;
  }
}
